<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GP-TRAKA</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
 <div id="container">
     <nav>
         <div class="nav">
             <div class="home"><li><a href="/">Home</a></li> </div>
            
             <div class="menu">
                 <li><a href="login">Log in</a></li>
                 <li><a href="signup">Sign up</a></li>
             </div>
         </div>
     </nav>