<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/form.css">
    <link rel="stylesheet" href="./css/password.css">
    <title>GP-TRAKA</title>
</head>
<body style="background-color: blueviolet;">
    <div id="container">
        <form>
            <h2>DELETE ACCOUNT</h2>
        
            <label for="email">Email</label>
            <input type="text" name="email" required autocomplete="off"/>
            <div class="emailErr" style="color: red;"></div>

            <label for="password">Password</label>
            <input type="password" id="newPassword" name="password" required /> 
            <div class="passwordErr" style="color: rgb(15, 78, 136);"></div>
            <button type="button" onclick="togglePassword()">show password</button>
            <button>Delete Account</button>
        </form>
        
    </div>
</body>
</html>

<script>
    let form = document.querySelector("form");
    form.addEventListener("submit", async function(e){
        e.preventDefault();
        
        try {
            let emailErr = document.querySelector(".emailErr")
            let passwordErr = document.querySelector(".passwordErr")
            let email =await form.email.value;
            let password =await  form.password.value;
            
            let deleteUser =await fetch("/api/delete",{
                method:"DELETE",
                body: JSON.stringify({email,password}),
                headers:{"Content-Type":"application/json"}
            })
            

            const data = await deleteUser.json();
            if(data.emailErr){
                emailErr.innerHTML = data.emailErr
                passwordErr.innerHTML = " "
            }
            else if(data.passwordErr){
                passwordErr.style.color = "red"
                passwordErr.innerHTML = data.passwordErr;
                emailErr.innerHTML = " "
            }
            else if(data.deleteStatus){
                alert(data.deleteStatus)
                passwordErr.style.color = "rgb(57, 245, 57)"
                passwordErr.innerHTML = data.deleteStatus + `  <b><a href="/">leave the app </b></a>`
                emailErr.innerHTML = " "

            }
            
            console.log(data)

        } catch (error) {
            console.log(error)
            
        }
    })

</script>


<script src="./js/togglePassword.js"></script>