<%- include("partials/headers") -%>
<link rel="stylesheet" href="./css/form.css">

<form method="POST">
    <h2>Sign up</h2>
    <label for=""><b>Username</b></label>
    <p for=""style="color: red;">*Username must be unique in order to be registered</p>
    <input type="text" name="name" autocomplete="off">
    <label for="email">Email</label>
    <input type="text" name="email" required autocomplete="off" />
    <div class="emailerr"></div>
    <label for="password">Password</label>
    <input type="password" id="newPassword" name="password" required />
    <div class="passworderr"></div>
    <button type="button"  onclick="togglePassword()">show password</button>
    <button>Sign up</button>
  </form>
  
<script>
  var form = document.querySelector("form")
  var err = document.querySelector(".error")
 var emailerr = document.querySelector(".emailerr")
 var passworderr = document.querySelector(".passworderr")
  form.addEventListener("submit",async function(e){
    e.preventDefault()

    try {
      const name = form.name.value
      const email = form.email.value;
      const password = form.password.value
      let res = await fetch("/signup",{
      method:"POST",
      body:JSON.stringify({name,email,password}),
      headers:{ "Content-Type":"application/json" }
    })
    const data = await res.json()
    console.log(data)
     if(data.err){
       emailerr.innerHTML = data.err.email ;
       passworderr.innerHTML = data.err.password;
     }else{
       location.assign("/main")
     }
    } catch (error) {
      console.log(error)
    }
  })


</script>
  
<script src="./js/togglePassword.js"></script>



<%- include("partials/footers") -%>