#flex{
    min-height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color:rgba(10, 10, 9, 0.658);
}

#box1{
    width:100vw;
    min-height: 30;
    margin:1px;
    position: relative;
}

.content{
    padding:15px;
}

.intro{
    width:100vw;
    min-height: 50vh;
    padding-top: 10px;
    margin-top:30px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 10px 6px rgba(31, 25, 4, 0.5);
    background-color: #12232e;
    color: seashell;
    position: relative;
}
.intro ul{
    padding-left:8px;
    margin-bottom:30px;
}
.intro ul li{
    margin-bottom: 9px;
}

#box1::before{
    background-image: url("/img/cloud.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    top:0px;
    left:0px; 
    bottom:0px;
    right: 0px;
    position: absolute;
}

h1{
    font-family: Verdana, Geneva, Tahoma;
    overflow: hidden;
    white-space: nowrap;
    animation: animated-text 3s linear ;
}

@keyframes animated-text{
    from{width:0px;}
    to{width:300px;}
}

@media only screen and (min-width:800px){
    .centerPcView{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
}

