*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100vw;
}

#container{
    min-height:100vh;
    background-color: rgba(4, 8, 14, 0.829);
}

a{
    color:orange;
    text-decoration: none;
}

.nav{
    background-color: rgb(43, 41, 41);
    display: flex;
    justify-content: space-between;
    color: orange;
    padding: 4px 8px;
    
}
.nav *{
font-family: Arial, Helvetica, sans-serif;
}

.home{
    font-size: 20px;
}

.menu{
    display: flex;
}
.menu li, .home li{
    list-style: none;
    padding-left: 15px;
}
.menu li a{
    font-size: 20px;
}


#footer{
    background-color: orange;
}
