*{
    margin: 0px;
    padding: 0px;
}
#container{
    position: relative;
    padding:3px;   
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    margin-bottom: 30px;
}

.entry{
    color: white;
    min-height: 400px;
    width: 100vw;
    padding-left: 7px;
    padding-top: 8px;
}

label{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 800;
}

input{
    margin-bottom: 12px;
}

li{
    color:white;
}

#button{
    margin-left: 8px;
    border-radius: 4px;
    min-height: 30px;
    min-width: 50px;
    background-color: skyblue;
    padding: 10px;
    color: red;
    font-weight: 900;
    border: transparent;
    margin-bottom: 20px;
}

.edit{
    color: blue;
    padding: 10px;
    border: transparent;
    min-height: 20px;
    min-width: 50px;
    border-radius: 4px;
}

table{
    margin-top: 10px;
    min-width: 70%;
    border-collapse: collapse;
}
.tableTitle{
    background-color: rgba(85, 250, 9, 0.333);
    color:rgb(218, 203, 190);
}
tr{
    border-bottom: 1px solid orange;
}
td{
    text-align: center;
    padding: 7px;
}


.btn{
    padding:4px;
    background-color: rgba(1, 71, 177, 0.877);
    color:white;
}

@media only screen and (min-width:300px){
    .centertable{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer{
    position:fixed;
    bottom:0px;
    height: 30px;
    background-color:orange;
    width:100vw;
}